html{
    background-image: url("../images/liquid-cheese.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
/* Reset form styles */
form {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 2vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Style form elements */
  input[type="text"],
  input[type="email"],
  textarea {
    width: 79vw;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 10px;
  }
  
  /* Style form buttons */
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  /* Style form labels */
  label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }