a{
    text-decoration: none;
}

.links{
    color: #333333;
}

#topNavBar {
    background-color: white;
    width: 100%;
    height: 10vh;
    position: fixed;
    margin: 0;
    z-index: 2;
}

#topNavBar-logo {
    height: 3vw;
    position: relative;
    top: 2vh;
    left: 2vw;
}

#topNavBar-links {
    font-size: 1.5vw;
    margin-right: 2vw;
    position: relative;
    left: 70vw;
    top: -3vh;
}

#topNavBar-links a {
    display: inline-block;
    margin-right: 2vw;
    font-family: Ubuntu;
    font-weight: 15vw;
}

/*
/* Portrait smartphone (320px) 
@media (max-width: 320px){
    #topNavBar{
        max-width: 100%;
        
    }

    #topNavBar-logo {
        height: 7vh;
    }
    
    #topNavBar-links {
        font-size: 7vw;
        left: 105vw;
        top: -3vh;
    }
  }

@media (min-width: 321px) and (max-width: 479px){
    #topNavBar{
        max-width: 100%;
        
    }

    #topNavBar-logo {
        height: 7vh;
    }
    
    #topNavBar-links {
        font-size: 5vw;
        left: 95vw;
        top: -3vh;
    }
  }


  
  /* Landscape smartphone (480px) 
  @media (min-width: 480px) and (max-width: 768px){
    #topNavBar{
        max-width: 100%;
    }
    
    #topNavBar-logo {
        height: 7vh;
    }
    
    #topNavBar-links {
        font-size: 3vw;
        left: 85vw;
        top: -3vh;
    }
    
  }
  
  /* Portrait tablet (760px) 
  @media (min-width: 760px) and (max-width:1023px){
      #topNavBar{
        max-width: 100%;

      }
      #topNavBar-logo {
          height: 6vh;
      }
      
      #topNavBar-links {
          font-size: 1.8vw;
          left: 68vw;
          top: -3vh;
      }
    
  }
  
  /* Desktop (1024px) 
  @media (min-width: 1024px) and (max-width: 1460px){ 
    #topNavBar{
        max-width: 100%;
        
    }

    #topNavBar-logo {
        height: 4vw;
    }
    
    #topNavBar-links {
        font-size: 1.6vw;
        left: 68vw;
        top: -3vh;
    }
  }*/